{% extends 'app/base.html' %}
{% load static %}
{% block title %}Jeans{% endblock title %}
{% block main-content %} 
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
                <div class="list-group">
                  <a href="{%url 'jeans' %}" class="list-group-item list-group-item-action" aria-current="true">All Jeans</a>
                  <a href="{% url 'jeansdata' 'CasualTrendy' %}" class="list-group-item list-group-item-action" aria-current="true">Casual Trendy</a>
                  <a href="{% url 'jeansdata' 'FancyFashionista' %}" class="list-group-item list-group-item-action">Fancy Fashionista</a>
                  <a href="{% url 'jeansdata' 'RavishingModern' %}" class="list-group-item list-group-item-action">Ravishing Modern</a>
                  <a href="{% url 'jeansdata' 'below' %}" class="list-group-item list-group-item-action">Below 1000</a>
                  <a href="{% url 'jeansdata' 'above' %}" class="list-group-item list-group-item-action">Above 1000</a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                {% for product in allCycles %}
                <div class="col-sm-6 text-center mb-4">
                    <a href="{%url 'product-detail' product.id %}" class="btn">
                        <div class="item">
                            <img src="{{product.product_image.url}}" alt=""height="300" width="" class="">
                            <div class="fw-bold">{{product.title}}</div>
                            <div class="fw-bold">Rs.{{product.discounted_price}}
                            <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock main-content %}
