{% extends 'app/base.html' %}
{% load static %}
{% block title %}Movie Detail{% endblock title %}
{% block main-content %}
<style>
    input[type=text], select,input[type=date],textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.servicesData {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.image.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>Movie Name : {{product.name}}</h2>
   <hr><div class="servicesData">
    <form action="" method="post">
      <label for="fname">Actors Name : </label>
      <input type="text" id="fname" name="firstname" value="{{product.cast}}" readonly>
  
      <label for="lname">Director Name : </label>
      <input type="text" id="lname" name="mobile" value="{{product.directorName}}" readonly>

      <label for="lname">Released Date : </label>
      <input type="text" id="rDate" name="rDate" value="{{product.releaseDate}}" readonly>
      
      <label for="lname">Audio Language : </label>
      <input type="text" id="lang" name="lang" value="{{product.movieLanguage}}" readonly>
      
      <label for="lname">Movie Type : </label>
      <input type="text" id="cate" name="cate" value="{{product.movieType}}" readonly>

      <label for="lname">Description about Movie : </label>
      <textarea id="address" name="desc" readonly>{{product.description}}</textarea>

      {%csrf_token%}
      <input type="hidden" name="prod_id" value={{product.id}} id="prod-id">
      <input type="submit" value="Book Now">
    </form>
  </div>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}