{% extends 'app/base.html' %}
{% load static %}
{% block title %}Train Detail{% endblock title %}
{% block main-content %}
<style>
    input[type=text], select,input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.servicesData {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.image.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>{{product.trainName}} - ({{product.trainNumber}})</h2>
   <hr><div class="servicesData">
    <form action="" method="post">
      <label for="lname">From : </label>
      <input type="text" id="lname" name="" value="{{product.fromCity}}" readonly>

      <label for="lname">To : </label>
      <input type="text" id="address" name="address" value="{{product.toCity}}" readonly>
      
      <label for="lname">Seat Type : </label>
      <input type="text" id="address" name="address" value="{{product.seat_type}}" readonly>
      
      <label for="lname">Available On : </label>
      <input type="text" id="address" name="address" value="{{product.availableOn}}" readonly>

      <label for="lname">Timings : </label>
      <input type="text" id="exp" name="" value="{{product.arrivalTime}} - {{product.destinationTime}} " readonly>
      
      <label for="lname">Distance : </label>
      <input type="text" id="address" name="" value="{{product.distance}}" readonly>
      
      <label for="lname">Price : </label>
      <input type="text" id="address" name="" value="Rs : {{product.amount}}/." readonly>

      <label for="passengers">Number of Seats : </label>
      <input type="text" class="passengers" name="passengers" required>
      </select>
      {%csrf_token%}
      <input type="hidden" name="prod_id" value={{product.id}} id="prod-id">
      <input type="submit" value="Book Now">
    </form>
  </div>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}